{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %} 

{% block content %}
  <h1>{% block title %}Create{% endblock %}</h1>
{#
  {% if form.errors %}
    {{ form.errors }}
{% endif %}
#}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <button class="btn-info btn space" id="generate">Generate Password</button>
      {{ wtf.quick_form(form) }}
    </div>
  </div>
</div>

<script>
    function genpass(length) {
      var result           = '';
      var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      var charactersLength = characters.length;
      for ( var i = 0; i < length; i++ ) {
         result += characters.charAt(Math.floor(Math.random() * charactersLength));
      }
      return result;
   }

  let user_choice = $("#user");

  let active_map = {{ active_map | safe }}  
  $(document).ready(function() {
    set_active()
    $("#generate").click(function(){
      var id = genpass(5);
      console.log(id)
      $('#password').val(id)
    }); 
});

function set_active(){
  u_id = user_choice.val()
  $("#active").prop("checked", active_map[u_id]);
}

user_choice.change(function(){
  set_active();
});

</script>

{% endblock %}
