<div>
    <footer class="page-footer font-small blue">
    
        <div class="row">
            <div class="col-xs-12 col-md-4">             
            </div>
            <div class="col-md-4">
              <p><div class="footer-copyright text-center py-3">© 2019 Copyright:
                  <a href="https://gitlab.com/LanceMaverick"></a>
                </div> </p>
              
            </div>
          </div>
      </footer>
    </div>
    