<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="">
      <img src=""
        width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
  
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'home' else '' }}" href="/">Home </a>
        </li>
      </ul>
    {#</div>
    <div class="collapse navbar-collapse justify-content-end">#}
      <ul class="navbar-nav">
        
        {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/auth/account">{{ current_user.username }}</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
           
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
           
          {% endif %}
        
        {% if current_user.has_role('admin') %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('admin.administer') }}">Admin</a>
          </li>
        {% endif %}
      </ul>
    </div>
    
  
  </nav>
  