$theme-colors: (
  "primary": #e01c1c
);
//$bg-color: #eaecee ; like it but messes with things like plot background
$bg-color: white;
$x51-light-red: #e01c1c;
$x51-dark-red: #8b1616;
//$bg-color: rgb(107, 63, 63);
$text-color:  rgb(53, 46, 46);
$logo-color: #466c81;
$x51red: #fc3d00;

$success-color: #d4edda;
$warning-color: #ffeeba;
$danger-color: #f5c6cb;
//$bg-color: rgb(255, 255, 255);
$ft-color: rgba(233, 233, 233, 0.678);
//@import "../node_modules/bootstrap/scss/_functions.scss";
//@import "../node_modules/bootstrap/scss/_variables.scss";
//@import "./_customvariables.scss";
//@import "../node_modules/bootstrap/scss/bootstrap.scss";

$assetPath : "/images";
