@import "variables";

//// cookie bar ////
#cookie-bar {background: $logo-color; height:auto; line-height:24px; color:#fff; text-align:center; padding:3px 0;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding:0;}
#cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px;}
#cookie-bar .cb-enable {background: $x51red;}
#cookie-bar .cb-enable:hover {background: $x51red;}
#cookie-bar .cb-disable {background: $x51red;}
#cookie-bar .cb-disable:hover {background: $x51red;}
#cookie-bar .cb-policy {background: $x51red;}
#cookie-bar .cb-policy:hover {background: $x51red;}
