{% extends 'base.html' %}
{# {% from  'macros/macros.html' import action %} #}
{% set active_page = "home" %}
{% block header %}
{% endblock %}

{% block content %}
<h1>{% block title %}ADVENT{% endblock %}</h1>
{% if request.MOBILE %}
{# todo #}
{% endif %}

<div class="container">
    <div class="card">
        <div class="card-header">Active polls</div>
        <div class="card-body">
            <table class="table table-hover">
                <tbody>
                    {% for p in polls %}
                        <tr>
                            {{ p.begin.strftime('%x') }} - {{ p.end.strftime('%x') }}
                            {% endfor %}
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
