{% extends 'base.html' %}</div>
{% import 'bootstrap/wtf.html' as wtf %} 
{% set active_page = "home" %}
{% block header %}
{% endblock %}

{% block content %}
<h1>{% block title %}Create New Poll{% endblock %}</h1>
{% if request.MOBILE %}
{# todo #}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col border-0">
        </div>
            
        <div class="col border-0">
            <div class="card">
                <div class="card-header">
                    ADVENT
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Create new poll</h5>
                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                {{ wtf.quick_form(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col border-0"></div>
        </div>
            
</div>

{% endblock %}