{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  {# <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
  #}


<!--<div class="container-fluid h-100 bg-light text-dark">-->
  <div class = "container">
  <div class="card">
    <div class="row">
      <div class="col-sm-10 offset-sm-1 text-center">
        <div class="card-header">
          ADVENT
        </div>
        
          <div class="card-body">
            <div class="alert alert-danger" role="alert">
              <h4 class="card-title">ACCESS DENIED</h4>
                You must be an Admin to access this page
            </div>
            <a href="/" class="btn btn-info">Home</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
